@model PortalPacjenta.ViewModels.HistoriaViewModel

@{
    ViewBag.Title = "Historia Wizyt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    @Styles.Render("~/Content/RejestracjaOnline")
}



<div class="container kontenerMaterial">
    <div class="container">
        <div id="terminarzDataKontener" class="col-sm-4">
            <label for="dataRezerwacji">Data od:</label>
            <input type="text" value="@DateTime.Now.Year-@string.Format("{0:00}", DateTime.Now.Month)-@string.Format("{0:00}",DateTime.Now.Day)" id="dataRezerwacji" name="dataRezerwacji" class="form-control datepickerRejOnline" />
        </div>
        <div id="terminarzDataKontener" class="col-sm-4">
            <label for="dataRezerwacji">Data do:</label>
            <input type="text" value="@DateTime.Now.Year-@string.Format("{0:00}", DateTime.Now.Month)-@string.Format("{0:00}",DateTime.Now.Day)" id="dataRezerwacji" name="dataRezerwacji" class="form-control datepickerRejOnline" />
        </div>
        <div id="terminarzDataKontener" class="col-sm-4">
            
            <button type="button" class="btn btn-info">Szukaj</button>
 
                </div>
    </div>


</div>


<div class="container kontenerMaterial" id="kontenerMaterialHistoriaWizyt" style="padding:0">
    @*Treść ładowana AJAXem*@
    @Html.Partial("ListaHistoriaWizyt")
</div>


<div>
    <div id="HistoriaWizyty" class="wysrodkujCentralnie">
   @*     @Html.Partial("_KartaWizytyHistoria")*@
        @*Treść ładowana ajaxem z pliku Wizyta.js  ładowana jest _KartaWizytyHistoria*@
    </div>
</div>
